.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 500px;
  margin-inline: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .not-found-title {
    font-family: "Exo-semi-bold", serif;
    font-size: 1.9rem;
    color: #000000;
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
  .not-found-description {
    text-align: center;
  }
}
