.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  svg {
    margin-left: 4px;
    width: 1rem;
    height: 1rem;
  }

  .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 125%; /* Position above the tooltip icon */
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}