.listing-search-content {
  .list-search-card {
    width: 100%;
    height: 100%;
    display: flex;
    &.col {
      flex-direction: column;
      /*align-items: center;*/
      justify-content: center;
      gap: 1rem;
      .list-search-card-img {
        height: 125px;

        .sponsor {
          display: flex;
        }
        .fav {
          left: initial;
          right: 1rem;
        }
      }
      .list-search-card-info {
        .list-search-card-description {
          display: block;
        }
      }
    }
    transition: all 0.3s ease-in-out;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid var(--border-color-2);
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .list-search-card-img {
      width: 100%;
      position: relative;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      border-radius: 0.5rem;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(
          0,
          0,
          0,
          0.3
        ); /* Black overlay with 50% opacity */
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        opacity: 0.2;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
        .overlay {
          opacity: 0;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all 0.3s ease-in-out;
      }
      .sponsor {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        font-family: "Jost-semiBold", serif;
        font-size: 0.8rem;
        color: #fff;
        padding: 0.5rem 1.5rem;
        border-radius: 1.8rem;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
      }
      .fav {
        position: absolute;
        top: 1rem;
        left: 1rem;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
      }
    }
    .list-search-card-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.25rem;
      padding: 0 1rem 1rem;
      .list-search-card-type {
        font-size: 0.8rem;
        font-family: "Jost-medium", serif;
        color: var(--main-color);
        background-color: rgba(235, 3, 6, 0.1);
        padding: 0.5rem 1rem;
        border-radius: 1.25rem;
        width: fit-content;
      }
      .list-search-card-title {
        font-size: 1rem;
        font-family: "Exo-semi-bold", serif;
        color: var(--primary-color);
      }
      .rate {
        font-family: "Jost-regular", serif;
        color: var(--text-color);
        font-size: 0.8rem;
      }
      .list-search-card-description {
        font-size: 0.8rem;
        font-family: "Jost-regular", serif;
        color: var(--text-color);
        display: none;
      }
      .location {
        font-family: "Jost-medium", serif;
        font-size: 0.8rem;
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
}
