.privacy-content,
.terms-and-conditions,
.faq {
  padding: 4rem 0 2rem 0;
  ul {
    li {
      padding-top: 1rem;
      padding-bottom: 1rem;
      &:not(:last-child) {
        border-bottom: 4px solid #f7f7f7;
      }
    }
  }
}
