.review-card {
  display: flex;
  transition: all 0.3s ease-in-out;
  gap: 0.5rem;
  .img {
    .review-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .review-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .review-name {
      font-family: "Jost-regular", serif;
      font-size: 1rem;
      color: #000000;
      a {
        text-decoration: underline;
        color: #e80306;
        &:hover {
          color: #000000;
        }
      }
    }
    .actions {
      width: 250px;
      display: flex;
      gap: 1rem;
      .secondary-button {
        border-radius: 2rem;
      }
    }
  }
}
