.comment-wrapper,
.rate-wrapper,
.google-rate-wrapper,
.leave-comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  .comment-title,
  .leave-comment-title {
    font-family: "Exo-semi-bold", sans-serif;
    font-size: 1.2rem;
  }
  .comment-count {
    font-family: "Exo-regular", sans-serif;
    font-size: 1rem;
    span {
      font-family: "Exo-semi-bold", sans-serif;
    }
  }
  .comments,
  .rates {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  .comments,
  .rates,
  .my-rate {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .comments {
      border-bottom: none;
    }
    .client-img {
      width: 60px;
      height: 60px;
      flex: 0 0 auto;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .comment-content,
    .rate-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .user-name {
        font-family: "Exo-semi-bold", sans-serif;
        font-size: 1rem;
      }
      .replay {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        span {
          font-family: "Exo-semi-bold", sans-serif;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.my-rate {
  border-radius: 0.5rem;
  background: linear-gradient(
    to right,
    rgba(232, 3, 6, 0.01),
    rgba(158, 2, 4, 0.01),
    rgba(130, 2, 3, 0.01)
  );
}

.rates,
.my-rate {
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  align-items: start;
}

.google-rate-wrapper {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: linear-gradient(
          to right,
          rgba(232, 3, 6, 0.01),
          rgba(158, 2, 4, 0.01),
          rgba(130, 2, 3, 0.01)
  );
  .google-review-static {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    .google-statics {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .numbers {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .rate {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-family: "Exo-semi-bold", sans-serif;
          font-size: 1rem;
        }
      }
    }
    .add-review {
      border-radius: 2rem;
      padding: 1rem 2rem;
      color: var(--primary-color);
      border: 1px solid var(--border-color);
      font-family: "Exo-medium", sans-serif;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}