:root {
    --main-color: #E80306;
    --primary-color: #000000;
    --secondary-color: #ecf0f1;
    --text-color: #909DAD;
    --text-color-2: #47586E;
    --text-color-3: #313131;
    --border-color: #DDE2ED;
}