.hero-section {
  height: 650px;
  .hero-swiper {
    height: 650px;
    .swiper-pagination-bullet {
      background-color: #ecf0f1;
      width: 70px;
      height: 7px;
      border-radius: 1.8rem;
      margin-bottom: 2rem;
    }
    .slide {
      position: relative;
      height: 100%;

      .slide-img {
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(
          0,
          0,
          0,
          0.5
        ); /* Black overlay with 50% opacity */
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.5rem; /* Overlay text size */
        text-align: center;
        opacity: 0.9;
        transition: opacity 0.3s ease; /* Smooth transition for hover effect */
      }
    }
  }
}
